html,
#application-container,
#application {
  height: 100%;
}

body {
  color: #bba;
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 19px;
  height: 100%;
  margin: 0;
}

a {
  border-bottom: 1px dashed rgba(255,255,255,0.2);
  color: #fff;
  font-style: italic;
  text-decoration: none;
}

h2 {
  color: #fff;
}

#elaboration {
  box-sizing: border-box;
}

.journey {
  align-items: center;
  background-color: #f0f0f0;
  border-top: 1px dashed rgba(0,0,0,0.2);
  display: none;
  justify-content: center;
  min-height: 40px;
}

.journey a {
  color: #444;
}

header {
  background-color: #fff;
}

header a {
  cursor: pointer;
}

header.expanded .journey {
  display: flex;
}

#menu {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  min-height: 40px;
}

#menu a,
#menu span {
  color: #444;
  padding: 0 3px;
}

#menu a {
  border-bottom: 1px dashed rgba(0,0,0,0.2);
}

.mid {
  max-width: 1024px;
  margin: 0 auto;
}

.pad {
  flex: 1;
  padding: 25px;
}

.responsive-embed {
  position: relative;
  padding-bottom: 36.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.responsive-embed iframe,
.responsive-embed object,
.responsive-embed embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

section {
  background-size: cover;
  border-bottom: 1px solid #000;
  box-shadow: inset 0 0 12px rgba(0, 0, 0, 1);

}

section:hover {
  color: rgba(255,255,255,0.8);
}

section#title {
  background-color: #000;
  background-image: url('/images/repp-underpass.jpg');
  background-size: cover;
  color: rgba(255,255,255,0.3);
  font-size: 28px;
  text-shadow: 1px 1px 0 rgba(0,0,0,0.1);
  position: relative;
}

.flex-mid {
  display: flex;
  flex-direction: column;
  max-width: 1024px;
  margin: 0 auto;
}

section#gist {
  background-color: #000;
  background-image: url('/images/map-dark-a.jpg');
  background-size: cover;
  padding: 60px;
}

section#gist h1 {
  color: #fff;
  font-size: 25px;
  text-align: center;
  text-shadow: #000 1px 1px 1px;
}

section#gist h2 {
  margin-top: 0;
}

section#gist ul {
  text-align: center;
}

section#gist li {
  display: inline;
  padding-right: 20px;
}

@media (max-width: 800px) {
  section#gist {
    padding: 15px;
  }
}

.responsive {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 800px) {
  .responsive {
    flex-direction: column;
  }
}

section.impression {
  align-items: center;
  background-color: #000;
  background-size: cover;
  box-shadow: none;
  display: flex;
  font-size: 18px;
  height: 200px;
  justify-content: center;
  text-align: center;
  text-shadow: #000 1px 1px 1px;
  width: 100%;
}

section.impression q {
  background-color: #444;
  font-style: italic;
}

section.background-headlight {
  background-image: url('/images/pyrker-map-m.jpg');
}

section.background-park {
  background-image: url('/images/emhofer-park.jpg');
}

section.background-chaser {
  background-image: url('/images/mue-bloody.jpg');
}

section.background-nuclear {
  background-image: url('/images/mue-nuclear.jpg');
}

section.background-chaser h2 {
  font-size: 18px;
}

#credits {
  background-color: #000;
  background-image: url('/images/map-dark-c.jpg');
  background-size: cover;
  padding-bottom: 40px;
  padding: 60px;
}

#elaboration {
  background-color: #000;
  background-image: url('/images/map-dark-a.jpg');
  background-size: cover;
  min-height: 100%;
  padding: 60px;
}

#elaboration h1 {
  color: #fff;
}

#elaboration li {
  list-style-type: circle;
}

/* Responsive shenanigans ≥ 768px */

@media (min-width: 48em) {
  section#title {
    font-size: 33px;
  }

  section#gist h1 {
    font-size: 40px;
  }

  section.impression {
    height: 400px;
    font-size: 24px;
  }
}

/* Responsive shenanigans ≥ 1024px */

@media (min-width: 64em) {
  section#title {
    font-size: 44px;
  }

  section#gist h1 {
    font-size: 40px;
  }

  section.impression {
    height: 600px;
    font-size: 30px;
  }
}

/* Responsive shenanigans ≥ 1280px */

@media (min-width: 80em) {
  section#title {
    font-size: 66px;
  }

  section.impression {
    height: 900px;
    font-size: 30px;
  }
}

/* Google Maps Styles */

#map {
  height: 383px;
  width: 100%;
}

.gm-style-iw * {
  display: block;
  width: 100%;
}

.gm-style-iw h4,
.gm-style-iw p {
  margin: 0;
  padding: 0;
}

.gm-style-iw a {
  color: #4272db;
}
