$white: #fff;
$white-muted: #ddd;

$black: #000;
$black-muted: #333;

$color-primary: #007381;
$color-secondary: #ffa200;

$color-fair-booth: #c3db8d;
$color-festival: #bad0f5;
$color-lecture: #c2f5ba;
$color-meet: #aef0ed;
$color-panel-discussion: #bae9f5;
$color-play: #f5baf0;
$color-playtest: #f5c2ba;
$color-talk: #b2b3f8;
$color-workshop: #f5dbba;
