@import './media-queries';

.media__caption {
  bottom: 12px;
  color: #fff;
  overflow-x: scroll;
  position: fixed;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: calc(100vw - 24px);
}

.media__compact {
  @include show-below-640;
}

.media__compact .media__thumbnails {
  justify-content: flex-start;
}

.media__compact .media__thumbnailImage {
  max-height: 60px;
  max-width: 60px;
  outline: none;
  width: auto;
}

.media__compact .media__thumbnailLink {
  margin: 4px;
}

.media__navigation {
  align-items: center;
  bottom: 60px;
  display: flex;
  justify-content: center;
  position: fixed;
}

.media__navigationLink {
  align-items: center;
  background-color: rgba(#000, 0.6);
  border-radius: 18px;
  color: #fff;
  cursor: pointer;
  display: flex;
  font-family: 'Oswald';
  font-size: 0.9em;
  height: 20px;
  justify-content: center;
  margin: 0 2.5px;
  user-select: none;
  width: 20px;

  &:hover:not(.media__navigationLinkActive) {
    background-color: rgba(#000, 0.3);
  }
}

.media__navigationLinkActive {
  background-color: rgba(#fff, 0.8);
  border-radius: 20px;
  color: #000;
  height: 20px;
  width: 20px;
}

.media__thumbnails {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
}

.media__thumbnailImage {
  object-fit: cover;
  object-position: center;
  height: 140px;
  width: 140px;
}

.media__thumbnailLink {
  margin: 12px;

  &:first-child {
    margin-left: 0;
  }
}

.media__viewer {
  align-items: center;
  background-color: rgba(#000, 0.9);
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 4;

  & > img,
  & > video {
    max-height: calc(80vh + 18px);
    max-width: calc(80vw + 18px);

    @media (max-width: 920px) {
      max-height: calc(80vh + 18px);
      max-width: calc(80vw + 18px);
    }
  }

  & > iframe {
    height: calc((80vw + 18px) / 1.77777);
    width: calc(80vw + 18px);


    @media (min-aspect-ratio: 16/9) {
      height: calc(80vh + 18px);
      width: calc((80vh + 18px) * 1.77777);
    }
  }

  // TODO: Loading animation?
  // & > iframe:not(.loaded) {
  //   animation: load 20s linear infinite;
  //   background-image: repeating-linear-gradient(-45deg, transparent, transparent 1em, rgba($color-gold, 0.25) 1em, rgba($color-gold, 0.25) 2em);
  //   background-size: 200% 200%;
  // }
}

.media__wide {
  float: right;
  width: 40%;

  @include show-from-640;
}
