@import './colors';

.search__match {
  color: #666;
  margin: 8px 12px;
}

.search__matchHighlight {
  background-color: $white-muted;
}

.search__notification {
  background-color: $color-secondary;
  border-radius: 2.5px;
  color: $white;
  display: flex;
  padding: 6px;
}
